<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ControladorIMG</servlet-name>
        <servlet-class>com.java.controller.ControladorIMG</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Controlador</servlet-name>
        <servlet-class>com.java.controller.Controlador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorProducto</servlet-name>
        <servlet-class>com.java.controller.ControladorProducto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorCliente</servlet-name>
        <servlet-class>com.java.controller.ControladorCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorFactura</servlet-name>
        <servlet-class>com.java.controller.ControladorComprass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorCompra</servlet-name>
        <servlet-class>com.java.controller.ControladorCompra</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>prueba</servlet-name>
        <servlet-class>com.java.controller.prueba</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorCategoria</servlet-name>
        <servlet-class>com.java.controller.ControladorCategoria</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsuarioLogin</servlet-name>
        <servlet-class>com.java.controller.UsuarioLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsuarioLogout</servlet-name>
        <servlet-class>com.java.controller.UsuarioLogout</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ControladorIMG</servlet-name>
        <url-pattern>/ControladorIMG</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controlador</servlet-name>
        <url-pattern>/Controlador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorProducto</servlet-name>
        <url-pattern>/ControladorProducto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorCliente</servlet-name>
        <url-pattern>/ControladorCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorCompra</servlet-name>
        <url-pattern>/ControladorCompra</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>prueba</servlet-name>
        <url-pattern>/prueba</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorCategoria</servlet-name>
        <url-pattern>/ControladorCategoria</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsuarioLogin</servlet-name>
        <url-pattern>/UsuarioLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsuarioLogout</servlet-name>
        <url-pattern>/UsuarioLogout</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
